body {
    background-color: cornsilk;
    border: 20px solid #1c3144;
}

#logo-main {
    padding-left: 50%;
}

#prox-banner {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #b3061b;
}